@font-face {
  font-family: Thin;
  src: url(fonts/Poppins-Thin.ttf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Regular;
  src: url(fonts/Poppins-Regular.ttf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Medium;
  src: url(fonts/Poppins-Medium.ttf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: SemiBold;
  src: url(fonts/Poppins-SemiBold.ttf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Bold;
  src: url(fonts/Poppins-Bold.ttf);
  font-weight: normal;
  font-display: swap;
}

body {
  background-color: #25293C;
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-family: Thin, Regular, Medium, SemiBold, Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
